<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<h1>Luis Valdes</h1>
<body>
    Esta aplicacion fue desarrollada por Luis Valdes estudiante de la <br>
    universidad interamericana de Panama
</body>

{% endblock%}
