{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Bienvenido a What Happen?</h1>
  <p class="lead">En esta pagina podras entretenerte comunicandote con tus amigos y expresar que a pasado.</p>
  <hr class="my-4">
  <p>Si estas con de acuerdo con los terminos y condiciones pulsa ir al sitio</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Ir al sitio</a>
</div>

{% endblock%}
